.site-header {
    background-color: #fff;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40PX);
    border-radius: 15PX;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
}

.logo img {
    height: 40px;
}

.utility-nav img{
    height: 20px;
}

.utility-nav img:hover{
    opacity: 0.7;
}

:is(.main-nav , .utility-nav) ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

:is(.main-nav , .utility-nav) a {
    font-size: 1.25rem;
    font-weight: 400;
}

:is(.main-nav , .utility-nav) a:hover {
    color: #7c3aed;
}